* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.button {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

.input-field {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.input-color-field {
  border: 1px solid #212121;
  border-radius: 8px;
  padding: 12px;
  width: 1fr;
  height: 18px;
  font-size: 1rem;
}

.button-submit {
  width: 80px;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 1rem;
}
.button-submit:hover {
  cursor: pointer;
}

.input-color-field:focus {
  outline: none;
}
.input-color-field:active {
  outline: none;
}

.message-text {
  text-align: center;
  background-color: #fff;
  padding: 12px;
  border-radius: 8px;
}
